<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Post Editor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        .content {
            flex: 1;
            display: flex;
            overflow-y: auto;
        }
        .editor {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }
        .textarea {
            flex: 1;
        }
        .floating-bar {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 50%;
            background: #fff;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
            padding: 10px 0;
            text-align: center;
        }
        .floating-bar .btn {
            margin: 0 5px;
        }
        .preview {
            padding: 10px;
            border: 1px solid #ddd;
            height: 100%;
            overflow-y: auto;
        }
        .preview-title {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 1em;
        }
        .list-group-item.active {
            background-color: #007bff;
            color: white;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/js/token.js"></script>
<script src="/js/checkAuth.js"></script>

<div class="container text-center">
    <div class="row content">
        <div class="col editor">
            <!-- form -->
            <form id="postForm" enctype="multipart/form-data">
                <!-- title -->
                <div class="input-group input-group-lg mb-3">
                    <input type="text" class="form-control" id="title" name="title" required placeholder="제목을 입력하세요" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>
                <!-- tags -->
                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" id="tags" name="tags" placeholder="태그를 입력하세요 (공백 구분)" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>

                <!-- content -->
                <div class="input-group mb-3 textarea">
                    <textarea class="form-control" id="content" name="content" placeholder="당신의 이야기를 적어보세요..." aria-label="With textarea" style="height: 100%;"></textarea>
                </div>

                <!-- hidden fields -->
                <input type="hidden" id="seriesIdInput" name="seriesId">
                <input type="hidden" id="newSeriesTitleInputHidden" name="newSeriesTitle">
                <input type="hidden" id="publishStatus" name="publishStatus" value="false">
                <input type="hidden" id="thumbnailPath" name="thumbnail">

            </form>
        </div>
        <div class="col">
            <div class="preview" id="preview">
                <div id="preview-title" class="preview-title"></div>
                <div id="preview-content"></div>
            </div>
        </div>
    </div>
</div>

<div class="floating-bar">
    <input type="file" id="imageUploadInput" style="display: none;">
    <button type="button" class="btn btn-secondary" id="imageUploadButton">이미지 삽입</button>
    <button type="button" class="btn btn-secondary">임시저장</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#publishModal">출간하기</button>
</div>

<!-- Modal -->
<div class="modal fade" id="publishModal" tabindex="-1" aria-labelledby="publishModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="publishModalLabel">출간 설정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 썸네일 설정 -->
                <div class="mb-3">
                    <label for="thumbnailFile" class="form-label">썸네일 업로드</label>
                    <input class="form-control" type="file" id="thumbnailFile">
                </div>
                <!-- 시리즈 설정 -->
                <div class="mb-3">
                    <label for="newSeriesTitleInput" class="form-label">시리즈 추가</label>
                    <input type="text" class="form-control" id="newSeriesTitleInput" placeholder="새로운 시리즈 이름을 입력하세요">
                </div>
                <div class="mb-3">
                    <label class="form-label">시리즈 목록</label>
                    <ul class="list-group" id="seriesList"></ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="finalPublishButton">출간하기</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async function () {
        const titleInput = document.getElementById('title');
        const contentTextarea = document.getElementById('content');
        const previewTitle = document.getElementById('preview-title');
        const previewContent = document.getElementById('preview-content');
        const seriesIdInput = document.getElementById('seriesIdInput');
        const finalPublishButton = document.getElementById('finalPublishButton');
        const newSeriesTitleInputHidden = document.getElementById('newSeriesTitleInputHidden');
        const newSeriesTitleInput = document.getElementById('newSeriesTitleInput');
        const seriesList = document.getElementById('seriesList');
        const publishStatus = document.getElementById('publishStatus');
        const thumbnailInput = document.getElementById('thumbnailFile');
        const thumbnailPathInput = document.getElementById('thumbnailPath');
        const imageUploadInput = document.getElementById('imageUploadInput');
        const imageUploadButton = document.getElementById('imageUploadButton');
        let selectedSeriesId = null;

        function updatePreview() {
            const titleText = titleInput.value;
            const markdownText = contentTextarea.value;

            previewTitle.textContent = titleText;
            previewContent.innerHTML = marked.parse(markdownText);
        }

        titleInput.addEventListener('input', updatePreview);
        contentTextarea.addEventListener('input', updatePreview);

        // 초기 미리보기 업데이트
        updatePreview();

        // 이미지 업로드 버튼 이벤트 리스너
        imageUploadButton.addEventListener('click', async function () {
            imageUploadInput.click();
        });

        // 이미지 업로드 이벤트 리스너
        imageUploadInput.addEventListener('change', async function () {
            const file = imageUploadInput.files[0];
            if (!file) {
                return;
            }

            const formData = new FormData();
            formData.append('file', file);

            try {
                const response = await fetch('/api/posts/image', {
                    method: 'POST',
                    body: formData,
                });

                if (response.ok) {
                    const imagePath = await response.text();
                    console.log('Image uploaded successfully:', imagePath);

                    // 이미지 URL을 컨텐츠에 삽입
                    const imageUrl = `![image](${imagePath})  `;
                    const currentContent = contentTextarea.value;
                    contentTextarea.value = `${currentContent}\n${imageUrl}`;
                    updatePreview();
                } else {
                    console.error('Failed to upload image:', response.status);
                }
            } catch (error) {
                console.error('Error uploading image:', error);
            }
        });

        thumbnailInput.addEventListener('change', async function () {
            const file = thumbnailInput.files[0];
            if (!file) {
                return;
            }

            const formData = new FormData();
            formData.append('file', file);

            try {
                const response = await fetch('/api/posts/thumbnail', {
                    method: 'POST',
                    body: formData,
                });

                if (response.ok) {
                    const thumbnailPath = await response.text();
                    thumbnailPathInput.value = thumbnailPath;
                    console.log('Thumbnail uploaded successfully:', thumbnailPath);
                } else {
                    console.error('Failed to upload thumbnail:', response.status);
                }
            } catch (error) {
                console.error('Error uploading thumbnail:', error);
            }
        });

        finalPublishButton.addEventListener('click', async function () {
            // 시리즈 ID 값을 폼에 설정
            seriesIdInput.value = selectedSeriesId;
            publishStatus.value = true;
            newSeriesTitleInputHidden.value = newSeriesTitleInput.value;

            // 폼 데이터 생성
            const formData = new FormData(document.getElementById('postForm'));

            console.log('Form Data Entries:');
            formData.forEach((value, key) => {
                console.log(key, value);
            });

            // 서버에 게시물 생성 요청
            try {
                const response = await fetch('/api/posts', {
                    method: 'POST',
                    body: formData,
                });

                if (response.ok) {
                    const result = await response.json();
                    window.location.href = `/`;
                } else {
                    console.error('Failed to create post:', response.status);
                }
            } catch (error) {
                console.error('Error creating post:', error);
            }
        });

        async function fetchSeriesList(username) {
            try {
                const response = await fetch(`/api/users/${username}/series`);
                if (response.ok) {
                    const series = await response.json();
                    seriesList.innerHTML = ''; // 기존 목록 지우기
                    series.forEach(item => {
                        const li = document.createElement('li');
                        li.className = 'list-group-item list-group-item-action';
                        li.textContent = item.title;
                        li.dataset.seriesId = item.id;
                        li.addEventListener('click', function() {
                            if (li.classList.contains('active')) {
                                li.classList.remove('active');
                                selectedSeriesId = null; // 선택 취소
                                newSeriesTitleInput.disabled = false; // 새로운 시리즈 입력 활성화
                            } else {
                                const previouslySelected = seriesList.querySelector('.active');
                                if (previouslySelected) {
                                    previouslySelected.classList.remove('active');
                                }
                                li.classList.add('active');
                                selectedSeriesId = item.id; // 선택한 시리즈 ID 설정
                                newSeriesTitleInput.value = '';
                                newSeriesTitleInput.disabled = true; // 새로운 시리즈 입력 비활성화
                            }
                        });
                        seriesList.appendChild(li);
                    });
                } else {
                    console.error('Failed to fetch series:', response.status);
                }
            } catch (error) {
                console.error('Error fetching series:', error);
            }
        }

        const username = await checkAuth();
        if (username) {
            await fetchSeriesList(username);
        }
    });
</script>


</body>
</html>
