body {
    font-family: Arial, sans-serif;
}
.post {
    margin-bottom: 20px;
}
.card {
    height: 400px; /* 고정된 세로 크기 */
    display: flex;
    flex-direction: column;
}
.card-body {
    overflow: auto; /* 내용이 넘칠 경우 스크롤바 표시 */
    flex-grow: 1;
}
.card img {
    height: 150px; /* 이미지 고정 높이 */
    object-fit: cover; /* 이미지가 고정된 높이에 맞게 조정되도록 */
}
#loader {
    display: none;
    text-align: center;
    padding: 10px 0;
}