<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link href="/css/blog.css" rel="stylesheet">
    <script>
        function navigateTo(page, username) {
            // console.log("username : " + username);
            location.href = '/@' + username + '/' + page;
        }
    </script>
</head>
<body>
<!-- header -->
<div th:replace="~{fragments/header_user :: header}"></div>

<h1 th:text="${username} + '의 블로그'"></h1>
<!-- 버튼 -->
<button th:data-username="${username}" onclick="navigateTo('posts', this.dataset.username)">글</button>
<button th:data-username="${username}" onclick="navigateTo('series', this.dataset.username)">시리즈</button>
<button th:data-username="${username}" onclick="navigateTo('about', this.dataset.username)">소개</button>

<main th:replace="'fragments/'+${page} :: content"></main>
</body>
</html>